.bg-POP {
    background-color: #1f1449;
  }
.bg-ALTERNATIVE {
    background-color: rgb(78, 4, 78);
  }
.bg-ROCK {
    background-color: rgb(6, 27, 146);
  }
.bg-LATIN {
    background-color: rgb(48, 40, 40);
  }
.bg-FILM_TV {
    background-color: rgb(110, 74, 63);
  }
.bg-COUNTRY {
    background-color: rgb(49, 12, 87);
  }
.bg-SOUL_RNB {
    background-color: rgb(91, 161, 10);
  }
.bg-WORLDWIDE {
    background-color: rgb(13, 111, 13);
  }
.bg-REGGAE_DANCE_HALL {
    background-color: rgb(2, 81, 81);
  }
.bg-HIP_HOP_RAP {
    background-color: rgb(7, 78, 38);
  }
.bg-DANCE {
    background-color: rgb(20, 36, 82);
  }
.bg-ELECTRONIC {
    background-color: rgb(32, 31, 31);
  }
.bg-HOUSE {
    background-color: rgb(120, 131, 31);
  }
.bg-K_POP {
    background-color: #84203c;
  }
